<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>


    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


    <% headStyles.forEach(function(headStyle){ %>
        <link href="<%= headStyle.href %>" <% if(headStyle && headStyle.rel) { %>rel="
    <%= headStyle.rel %>"
    <% } else { %>rel="stylesheet"
    <% }%>
    <% if(headStyle && headStyle.media) { %>media="
    <%= headStyle.media %>"
    <% } %> />
    <% }); %>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap3-typeahead.min.js"></script>
    <script src="/js/types.js"></script>
    <script src="/js/common.js"></script>

    <% headScripts.forEach(function(headScript){ %>
        <script src="<%= headScript.src %>"></script>
    <% }); %>

</head>

<body>

    <div id="message-bar" class="container">
    </div>
    <div class="header">
        <div class="menu">
        </div>
    </div>

    <div class="body">
        <%- include(bodyPath); %>
    </div>

    <div id="footer" class="footer navbar navbar-fixed-bottom">
    </div>

</body>

</html>

<script>

    $(document).ready(function () {
    })
</script>